/* .home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
    padding: 0 2rem;
  } */

  .events {
    display: flex;
margin-top: 3rem;
   column-gap: 2rem;
    padding: 0 2rem;
  }

  .create{
    width: 30%;
  }
  .event-details{
    width: 60%;
    margin-top: 3rem;
    overflow-x:auto;
  }

.event-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: rgb(21, 19, 19);
  }
  .event-details p {
    margin: 0;
    font-size: 0.9em;
    color: rgb(21, 19, 19);
  }
  .event-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: rgb(27, 24, 24);
  }

  td{
    background-color: aliceblue;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  td:first-child {
    width: 27%;
    word-wrap: break-word;
  }
  td:nth-child(2) {
     width: 20%;
     text-align: center;
  }
  td:nth-child(3) {
     width: 12%;
     text-align: center;
  }
  td:nth-child(4) {
     width: 27%;
     word-wrap: break-word;

  }

  @media (max-width: 600px) {
    .events {
      
    }
  }