/* .home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
    padding: 0 2rem;
  } */

  .events {
margin-top: 3rem;
    padding: 0 2rem;
  }

  .create{
    width: 40%;
    margin: 3rem auto;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 0px 4px 10px 0px #00000040;
  }
  .event-details{
    width: 90%;
    margin-top: 3rem;
    overflow-x:auto;
  }

.event-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: rgb(21, 19, 19);
  }
  .event-details p {
    margin: 0;
    font-size: 0.9em;
    color: rgb(21, 19, 19);
  }
  .event-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: rgb(27, 24, 24);
  }

  td{
    padding: 5px;
    background-color: aliceblue;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  td:first-child {
    width: 27%;
    word-wrap: break-word;
  }
  td:nth-child(2) {
     width: 20%;
     text-align: center;
  }
  td:nth-child(3) {
     width: 2%;
     text-align: center;
  }
  td:nth-child(4) {
     width: 27%;
     word-wrap: break-word;

  }
  td:nth-child(5) {
    width: 10%;
    text-align: center;
 }
  .event-tabs {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 2rem;
  }
.tab{
  cursor: pointer;
  border: 2px solid black;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    padding: 5px 8px;
}
.selected {
  background-color: #ada0a0;
}

  @media (max-width: 600px) {
    .events {
      flex-direction: column;
    }
    .event-details, .create {
      width: 96%;
    }
  }