@import url("https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap");

.home-c {
  height: 100%;
  width: 100%;
  /* background-color: #7e6c71; */
  display: flex;
  flex-direction: column;
}
.home-content {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 25%;
  color: rgb(56, 41, 41);
  /* text-shadow: 2px 2px black; */
}
.home-content p {
  font-family: "Solway", serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 2rem;
}

.about {
  margin: 0 1rem 0 10%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.gita-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2%;
}
.about-text {
  width: 80%;
}
.logout {
  position: absolute;
  bottom: 2rem;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
  }
}
