

.videos{
    max-width: 1800px;
    margin: 3rem;
    margin-bottom: 5rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}

iframe {
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 4px;
}

@media (min-width: 600px) {
    .videos { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .videos { grid-template-columns: repeat(3, 1fr); }
  }